In [6]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression

In [7]:
data.head()

   experience  salary  age
0         0.5    2500   22
1         0.0    2250   21
2         1.0    2750   23
3         5.0    8000   25
4         8.0    9000   28

In [15]:
data=pd.read_csv("multiple-linear-regression-dataset.csv",sep=";")
x=data.iloc[:,[0,2]].values
y=data.salary.values.reshape(-1,1)

In [18]:
m_l_r=LinearRegression()
m_l_r.fit(x,y)

print("b0: ",m_l_r.intercept_)
print("b1,b2: ",m_l_r.coef_)

b0:  [10376.62747228]
b1,b2:  [[1525.50072054 -416.72218625]]

In [19]:
m_l_r.predict(np.array([[10,35],[5,35]]))

array([[11046.35815877],
       [ 3418.85455609]])